section{
  width: 250px;
  height: 259px;
  background: linear-gradient( to bottom, rgb(208, 203, 203), rgb(241, 237, 237) );
  border: 0.2px gray solid;
  border-radius: 10px;
  padding: 16px;
}


h1{
  font-weight: 800;
  font-size: 17px;
  margin: 8px 0 18px;
}

dl {
  margin-top: 20px;
}

dt, dd {
  font-size: 15px;
}


dt{
  color: rgba(23, 83, 161, 0.742);
  font-weight : 800;
  margin-bottom: 5px;
}

.dd1 .dd2 {
  line-height: 1.6;
  
}

dd {
  margin-inline-start:0%;
  
}

.dt1 {
  margin-left: 75px;
}


.image1 {
  float: left;
  margin-right: 16px;
  margin-top : -20px
}

.image2 {
  float: right;
  margin-left: 16px;
  margin-top : -20px
}



